COMPOSE_PROJECT_NAME=MARIO
DB_HOST=db
DB_PORT=5432
# sequelize dialect: mysql, postgres, sqlite, mariadb or mssql
DB_DRIVER=postgres 
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=mariodb
DB_VOLUME=.dbdata

# 'on' for enable dev SSL
SSL_MODE=

APP_PORT=3000
UID=1000
GID=1000

#blah
